@model MVCDemoApp.Models.FoodListModel
@{
    ViewData["Title"] = "DisplayFood";
}

<h1>DisplayFood</h1>

@{
    <table class="table table-striped">

        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var food in Model.Foodlist)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => food.Title))</td>
                        <td>@Html.DisplayFor(modelItem => food.Description))</td>
                        <td>@Html.DisplayFor(modelItem => food.Price))</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}


